html,
body {
    font-family: 'adobe-fan-heiti-std', sans-serif !important;
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none !important;
}

#map {
    background-color: black;
}

.leaflet-popup-close-button {
    margin: 2px !important;
}

.btn-gray {
    background-color: rgba(191, 210, 223, 1) !important;
}

.btn-gray:hover {
    background-color: rgba(137, 156, 168, 1) !important;
}

#controls {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1rem;
    z-index: 9999;
    position: absolute;
    padding: 2rem;
    bottom: 3%;
    left: 0;
}


/* for mobile styles */
@media screen and (max-width: 760px) {}