html,
body {
    font-family: 'adobe-fan-heiti-std', sans-serif !important;
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none !important;
}

.pin {
    color: #ff4646;
    transition: transform .3s ease-out 0s;
}

.pin:hover {
    color: #59bbe3;
    transform: scale(1.5);
}

.pin-text {
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(167, 150, 120, 0.7);
}

#map_box {
    width: fit-content;
    max-height: 100vh;
    overflow: auto;
    padding: 0;
    display: grid;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#map {
    z-index: -1;
    height: 100%;
    grid-row: 1 / 11;
    grid-column: 1 / 11;
}

#location_01 {
    grid-column: 4/7;
    grid-row: 5;
    align-self: end;
}

#location_02 {
    grid-column: 9/11;
    grid-row: 5;
    justify-self: center;
}

/* for mobile styles */
@media screen and (max-width: 760px) {}