html,
body {
    font-family: 'adobe-fan-heiti-std', sans-serif !important;
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none !important;
}

#controls {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 1rem;
    z-index: 9999;
    position: absolute;
    padding: 2rem;
    bottom: 3%;
    left: 0;
}

/* for mobile styles */
@media screen and (max-width: 760px) {}