html,
body {
    font-family: 'adobe-fan-heiti-std', sans-serif !important;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

a {
    text-decoration: none !important;
}

#btn-close {
    color: white;
    z-index: 9999;
    position: absolute;
    margin: 1.5rem;
    top: 0%;
    right: 0%;
    opacity: 1;
    transition: transform .3s ease-out 0s;
}

#btn-close:hover {
    transform: scale(1.5);
}

.close:focus {
    outline: none !important;
}

.panorama-icon {
    max-width: 2rem;
    display: block;
    margin: auto;
}

.card-footer {
    background-color: transparent !important;
}

#container {
    width: 100%;
    height: 100%;
}

#poem {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: fit-content;
    height: fit-content;
    max-width: 50%;
    max-height: 50%;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;

    /* position the div in center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    overflow: auto;
    z-index: 9999;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(232, 232, 232, 0.4) rgba(0, 0, 0, 0.4);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(232, 232, 232, 0.4);
    margin: 1rem;
    border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    border: 3px solid rgba(232, 232, 232, 0.4);
}


/* for mobile styles */
@media screen and (max-width: 760px) {}